<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPMS</title>
</head>
<body>
{% block content %}

    <div class="home text-center">

<!--            <img src="{% static 'public/CUSD_logo2.png' %}" style="padding-top: 100px; width: 300px;">-->

            <h4 class="mt-5 mb-5">
                Hi
<!--                {% if user.first_name %}-->
<!--                    {{ user.first_name }}-->
<!--                {% else %}-->
<!--                    {{ user }}-->
<!--                {% endif %}-->
            </h4>

            <h2>Welcome to the UPMS</h2>
            <h5>{{ version }}</h5>

    </div>

{% endblock %}

</body>
</html>